img{
  float: right;
  padding-left: 50px;
  margin-right: 100px;
}


h1{
  text-align: center;
}

body{
  margin-left: 100px;
  color: gold;
  font-family: Copperplate, Papyrus, fantasy;
  background-color: black;
}

#subhead{
  font-size: 30px;
}

nav{
  color: gold;
font-family: Copperplate, Papyrus, fantasy;
}

a:visited {
  color: gold;
}

